@model ChemBlog2._0.Models.AdminPanelEntity;
<link href="~/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script>
<!-- 2 column grid layout with text inputs for the first and last names -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <form method="post" asp-action="EditOrDelete">
                    <div class="text-center"><h6>Editor DashBoard</h6></div>
                    <div class="col-sm-15">
                        <input class="form-control" asp-for="Id" placeholder="Heading" value=@Model.Id disabled/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Heading"></label>
                        <div class="col-sm-15">
                            <input class="form-control" asp-for="Heading" placeholder="Heading" />
                        </div>
                    </div>
                    </br>
                    <div class="form-group">
                        <label asp-for="ShortDescription"></label>
                        <div class="col-sm-15">
                            <input class="form-control" asp-for="ShortDescription" placeholder="Short Description">
                        </div>
                    </div>
                    </br>
                    <div class="form-group">
                        <label asp-for="ImagePath"></label>
                        <div class="col-sm-15">
                            <input class="form-control" asp-for="ImagePath" placeholder="Image Path">
                        </div>
                    </div>

                    </br>
                    <div>
                        <textarea name="content" id="myEditor">@Html.Raw(Model.EditorData)</textarea>
                        <script>
                            var editor = new FroalaEditor('#myEditor')
                        </script>
                    </div>
                    </br>
                    <div class="form-group">
                        <div class="text-center" col-sm-15>
                            <input type="submit" name="Submit+@Model.Id" class="btn btn-dark w-40" value="Submit" />
                            <input type="submit" name="Preview" class="btn btn-warning w-40" value="Preview" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <form method="post" asp-action="SubmitData">
                    <div class="text-center"><h6>Preview The Article</h6></div>
                    <div><h7>@Html.Raw(Model.EditorData)</h7></div>
                    <a type="button" class="btn btn-dark w-100" asp-controller="Admin" asp-action="PublishedArticles">Back</a>

                </form>
            </div>
        </div>
    </div>
</div>